body {
  background-color: #d3d3d3;
}
#adSpace {
  position: absolute;
  width: 16%;
  text-align: center;
  height: 66.8%;
  border: 1px solid black;
}
#adSpace2 {
  position: absolute;
  margin-left: 83%;
  text-align: center;
  width: 16%;
  height: 66.8%;
  border: 1px solid black;
}
#header_list {
  width: 100%;
  margin-left: 0;
  padding: 0;

}
.header {
  font-family: 'Hyeon', sans-serif;
  font-size: 18px;
  height: 40px;
  background-color: black;
  color: white;
  width: auto;             /*added last */
  border: .5px solid black;
  padding-right: 8.4%; /*added */
  padding-left: 0%;
  padding-top: 1%;    /*added */
  display: inline-block;
}
 li:last-child {
  margin-right: 0;
  padding-right: auto;
}
#header_div {
  text-align: justify;
  width: 83%; /*replaced min-width 65% with width*/
  margin-top: 25px;
  margin-left: 17%;
}
.pool_div {
  margin: auto;
  width: 65%;
  border: 1.5px solid gray;
  padding: 10px;
  position: relative;
}
#main_head {
  font-family: 'Merienda', cursive;
  font-style: italic;
  color: #464746;
}
#pool_pic {
  border: 1pt solid gray;
  display: inline-block;
  width: 60%;
  height: 437px;
}
.available_box {
  margin-right: 1px;
  background-color: black;
  height: 437px;
  width: 39%;
  display: inline-block;
}
#available_div {
  font-family: 'Hyeon', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  width: 39%;
  text-align: center;
  color: white;

  position: absolute;
  margin-top: 50px;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color:yellow;
}
p#book {
  text-align: center;
  font-style: italic;

}
#book_a {
  color: green;
}
#book_a:hover {
  color: yellow;
}
#slogan {
  font-family: 'Merienda', cursive;
  font-size: 12pt;
  font-style: italic;
  text-align: center;
}
.weatherwidget-io{
  margin-top: 30px;
  margin-left: 17%;
  width: 66%;
}
